:root{
  /*Colors*/

  /*Fonts*/
  --font: 'Roboto', sans-serif;
  --size-default: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--size-default);
}
@media (max-width:1080px){
  html {
    font-size: 93.75%; /*15px*/
  }
}
@media (max-width:768px){
  html {
    font-size: 87.5%; /*14px*/
  }
}

body{
  -webkit-font-smoothing: antialiased;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,112,1) 45%, rgba(1,34,41,1) 100%);
  color: #fff;
}

body,
input,
textarea,
button,
a{
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}